In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaitangata,NZ,2021-09-20 18:23:45,-46.2817,169.8464,44.26,87,78,4.61
1,1,Atuona,PF,2021-09-20 18:23:45,-9.8000,-139.0333,77.56,75,74,21.12
2,2,Hailar,CN,2021-09-20 18:23:45,49.2000,119.7000,49.73,75,100,6.78
3,3,Duki,PK,2021-09-20 18:23:45,30.1541,68.5728,85.17,32,0,5.97
4,4,Banda Aceh,ID,2021-09-20 18:23:46,5.5577,95.3222,79.11,78,99,8.97

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                       (city_data_df['Max Temp'] >= min_temp)]

In [13]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-09-20 18:23:45,-9.8000,-139.0333,77.56,75,74,21.12
3,3,Duki,PK,2021-09-20 18:23:45,30.1541,68.5728,85.17,32,0,5.97
4,4,Banda Aceh,ID,2021-09-20 18:23:46,5.5577,95.3222,79.11,78,99,8.97
7,7,Guerrero Negro,MX,2021-09-20 18:23:46,27.9769,-114.0611,76.77,56,0,10.27
9,9,Bocana De Paiwas,NI,2021-09-20 18:23:46,12.7857,-85.1227,83.89,74,84,10.49
11,11,Puerto Ayora,EC,2021-09-20 18:23:47,-0.7393,-90.3518,78.76,78,92,12.57
18,18,Jamestown,US,2021-09-20 18:23:48,42.0970,-79.2353,78.39,64,1,9.22
24,24,Faanui,PF,2021-09-20 18:23:48,-16.4833,-151.7500,78.15,72,55,16.96
31,31,Kahului,US,2021-09-20 18:23:49,20.8947,-156.4700,80.62,61,20,13.80
35,35,Hithadhoo,MV,2021-09-20 18:23:50,-0.6000,73.0833,83.95,71,44,10.94

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-09-20 18:23:45,-9.8000,-139.0333,77.56,75,74,21.12
3,3,Duki,PK,2021-09-20 18:23:45,30.1541,68.5728,85.17,32,0,5.97
4,4,Banda Aceh,ID,2021-09-20 18:23:46,5.5577,95.3222,79.11,78,99,8.97
7,7,Guerrero Negro,MX,2021-09-20 18:23:46,27.9769,-114.0611,76.77,56,0,10.27
9,9,Bocana De Paiwas,NI,2021-09-20 18:23:46,12.7857,-85.1227,83.89,74,84,10.49
...,...,...,...,...,...,...,...,...,...,...
551,551,Srikakulam,IN,2021-09-20 18:25:12,18.3000,83.9000,80.28,84,96,3.53
552,552,Kindu,CD,2021-09-20 18:25:12,-2.9500,25.9500,76.21,74,95,2.15
555,555,Goderich,CA,2021-09-20 18:25:13,43.7501,-81.7165,79.12,53,100,10.36
556,556,Nichinan,JP,2021-09-20 18:25:13,31.6000,131.3667,75.56,87,40,2.33
557,557,Quartz Hill,US,2021-09-20 18:25:13,34.6453,-118.2181,80.89,30,1,10.36

In [16]:
preferred_cities_df.count()

City_ID       192
City          192
Country       189
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1             Atuona      PF     77.56  -9.8000 -139.0333
3               Duki      PK     85.17  30.1541   68.5728
4         Banda Aceh      ID     79.11   5.5577   95.3222
7     Guerrero Negro      MX     76.77  27.9769 -114.0611
9   Bocana De Paiwas      NI     83.89  12.7857  -85.1227
11      Puerto Ayora      EC     78.76  -0.7393  -90.3518
18         Jamestown      US     78.39  42.0970  -79.2353
24            Faanui      PF     78.15 -16.4833 -151.7500
31           Kahului      US     80.62  20.8947 -156.4700
35         Hithadhoo      MV     83.95  -0.6000   73.0833

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,77.56,-9.8000,-139.0333,Villa Enata
3,Duki,PK,85.17,30.1541,68.5728,Bhari Dada Kaka Hotel
4,Banda Aceh,ID,79.11,5.5577,95.3222,Sulthan Hotel International
7,Guerrero Negro,MX,76.77,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
9,Bocana De Paiwas,NI,83.89,12.7857,-85.1227,Guapinol Cabaña Monge
11,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
18,Jamestown,US,78.39,42.0970,-79.2353,Hampton Inn & Suites Jamestown
24,Faanui,PF,78.15,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
31,Kahului,US,80.62,20.8947,-156.4700,Maui Seaside Hotel
35,Hithadhoo,MV,83.95,-0.6000,73.0833,Scoop Guest House

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))